<!DOCTYPE html>
<html>
<head>
  <title>Houshold</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    $(function(){
      $("table#sort").tablesorter();
    })
  </script>
</head>
<body>
  <ul class="links">
    <a href="/items">項目追加</a>
    <a href="/monthlydata">データ入力</a>
    <a href="/status/months">月次集計</a>
  </ul>
  <hr>
<%= yield %>

</body>
</html>
