<!DOCTYPE html>
<html>
<head>
  <title>Houshold</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    $(function(){
      $("table#sort").tablesorter();
    })
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
